[submodule "bundle/Vundle.vim"]
	path = bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "nerdtree_plugin/toggle_width.vim"]
	path = nerdtree_plugin/toggle_width.vim
	url = https://github.com/EinfachToll/toggle_width.vim.git
